@model NhanvienIndexModel


<h1>Edit</h1>

<h4>Nhân Viên</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.ID_Nhanvien" />
            <div class="form-group">
                <label asp-for="@Model.Tennhanvien" class="control-label">Tên Nhân Viên</label>
                <input asp-for="@Model.Tennhanvien" class="form-control" readonly />
                
            </div>
            <div class="form-group">
                <label asp-for="@Model.Ngaysinh" class="control-label">Ngày Sinh</label>
                <input asp-for="@Model.Ngaysinh" class="form-control" readonly />
                
            </div>
            <div class="form-group">
                <label asp-for="@Model.Diachi" class="control-label">Địa Chỉ</label>
                <input asp-for="@Model.Diachi" class="form-control" readonly />
               
            </div>
            <div class="form-group">
                <label asp-for="@Model.sdt" class="control-label">Số Điện thoại</label>
                <input asp-for="@Model.sdt" class="form-control" readonly />
                
            </div>
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label">Email</label>
                <input asp-for="@Model.Email" class="form-control" readonly />
                
            </div>
            <div class="form-group">
                <label asp-for="@Model.username" class="control-label">Username</label>
                <input asp-for="@Model.username" class="form-control" readonly />
                
            </div>
            <div class="form-group">
                <label asp-for="@Model.password" class="control-label">Password</label>
                <input asp-for="@Model.password" type="password" class="form-control" readonly />
                
            </div>
            <div class="row mb-2" style="margin:15px">
                <div class="form-group">
                    <img src="~/@Model.Hinhanh"
                         class="img-thumbnail"
                         style="width: 200px; height: 200px;" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

