@model KhachhangIndexModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Khách Hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.ID_Khachhang" />
            <div class="form-group">
                <label asp-for="@Model.TenKhachhang" class="control-label">Tên Khách hàng</label>
                <input asp-for="@Model.TenKhachhang" class="form-control" />
                <span asp-validation-for="@Model.TenKhachhang" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="@Model.sdt" class="control-label">Số Điện thoại</label>
                <input asp-for="@Model.sdt" class="form-control" />
                <span asp-validation-for="@Model.sdt" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



