@model NhacungcapModel

<h1>Create</h1>

<h4>Nhà cung cấp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">

            <div class="form-group">
                <label asp-for="@Model.Tennhacungcap" class="control-label">Tên Nhà cung cấp</label>
                <input asp-for="@Model.Tennhacungcap" type="text" class="form-control" />
                <span asp-validation-for="@Model.Tennhacungcap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Diachi" class="control-label">Địa chỉ</label>
                <input asp-for="@Model.Diachi" type="text" class="form-control" />
                <span asp-validation-for="@Model.Diachi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.sdt" class="control-label">Số điện thoại</label>
                <input asp-for="@Model.sdt" type="number" class="form-control" />
                <span asp-validation-for="@Model.sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
