@model admin_web_sell_phone.Models.NhacungcapModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Nhà cung cấp</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tennhacungcap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tennhacungcap)
        </dd>
        
        <dt class="col-sm-2"> 
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class="col-sm-10">
            Địa Chỉ
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.sdt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.sdt)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="@Model.ID_Nhacungcap" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
