
@model List<admin_web_sell_phone.Models.QuanlytonkhoModel>

<div class="card">
    <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
            <!-- Begin Search Bar -->
            <header class="header d-flex align-items-center justify-content-between ps-0" style="box-shadow: none;">
                <div class="card-title">Quản lý tồn kho</div>
            </header><!-- End Search Bar -->
        </div>
        <table id="variants" class="table table-responsive table-hover bg-white align-middle">
            <thead>
                <tr>
                    <th scope="col">
                        Hình ảnh
                    </th>
                    <th scope="col">
                        Tên sản phẩm
                    </th>
                    <th scope="col">
                        Giá bán
                    </th>
                    <th scope="col">
                        Giá nhập
                    </th>
                    <th scope="col">
                        Số lượng
                    </th>
                    <th>
                        Tùy chọn
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="width: 100px; height: 100px;">
                        <img src="~/@item.anh" class="img-thumbnail">
                    </td>
                    <td>
                        @item.tensp
                    </td>
                    <td>
                        @String.Format("{0:N0}", item.giaban) đồng
                    </td>
                    <td>
                        @String.Format("{0:N0}", item.gianhap) đồng
                    </td>
                    <td>
                        @item.soluongton cái
                    </td>
                    <td>
                        <a href="@Url.Action("Create","Phieunhap")" class="btn btn-primary"><i class="bi bi-plus-circle me-2"></i>Nhập thêm hàng</a>
                    </td>
                </tr>
            }


        </table>
    </div>
</div>