
@using System.Security.Claims;

@{
    var onl_name = ViewContext.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value;
    var onl_id = ViewContext.HttpContext.User.FindFirst("id").Value;
    var onl_email = ViewContext.HttpContext.User.FindFirst("email").Value;
    var onl_img = ViewContext.HttpContext.User.FindFirst("img").Value;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Quản lý bán điện thoại</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="@Url.Content("https://unpkg.com/@popperjs/core@2/dist/umd/popper.js")"></script>
    <!-- Favicons -->
    <link href="~/Content/img/favicon.png" rel="icon">
    <link href="~/Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Scripts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Scripts/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Scripts/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Scripts/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Scripts/vendor/simple-datatables/style.css" rel="stylesheet">
    <link href="~/Content/fileinput.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Template Main CSS File -->
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />

    

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.4.1
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" integrity="sha512-NvAh1M41Euzt+3mKKlX9gjnPMTzhEyxopn0G8wSi+jBLRvF+kyC12dPJHb7Q0X6RkA6UdK1UuT7gb3x6C/MV7A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js" integrity="sha512-YjZvYY8ZMbcM5Ojs/n1Dl9pOjKq3YHgnzV7PdRi50vG2+jRoEBc1oeF7hebtX35UuVQGLOi6Ue/f6U+hTgFvVw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="@Url.Action("Index", "Home")" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">Cửa hàng</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown pe-3">
            
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="~/Content/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2"></span>
                    </a>

                     <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li class="dropdown-header">
                                <h6>@onl_id - @onl_name</h6>
                                <span></span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Logout", "Nhanvien")">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>

                        </ul><!-- End Profile Dropdown Items -->
                </li>
            </ul>
                
            @*<ul class="d-flex align-items-center">

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="~/Content/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2"></span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@onl_id - @onl_name</h6>
                            <span></span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Logout", "Nhanvien")">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>*@
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="index.html">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Sản phẩm</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="@Url.Action("Index", "SanPham")">
                            <i class="bi bi-circle"></i><span>Sản phẩm</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Quanlytonkho")">
                            <i class="bi bi-circle"></i><span>Quản lý tồn kho</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Sản phảm Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index", "ThuongHieu")">
                    <i class="bi bi-card-list"></i>
                    <span>Thương hiệu</span>
                </a>
            </li><!-- End Hóa đơn Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index", "Nhacungcap")">
                    <i class="bi bi-card-list"></i>
                    <span>Nhà cung cấp</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index","Hoadon")">
                    <i class="bi bi-card-list"></i>
                    <span>Hóa đơn</span>
                </a>
            </li><!-- End Hóa đơn Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index", "Khachhang")">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Khách hàng</span>
                </a>
            </li><!-- End Khách hàng Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed"
                   href="@Url.Action("Index", "Phieunhap")">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Phiếu nhập</span>
                </a>
            <li><!-- End Phiếu Nhập Page Nav -->
            <!-- Start tính năng người quản lý -->
            
                <li class="nav-heading">Người quản lý</li>

                <li class="nav-item">
                    <a class="nav-link collapsed"
                   href="@Url.Action("Index", "NhanVien")">
                        <i class="bi bi-box-arrow-in-right"></i>
                        <span>Nhân viên</span>
                    </a>
                </li>

                <!-- End Nhân viên Page Nav -->
            


        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" role="main" class="main">
        @RenderBody()
    </main><!-- End #main -->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


    <!-- ======= Footer ======= -->
    <!--<footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
        </div>
        <div class="credits">-->
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </footer>-->
    <!-- End Footer -->

    <script src="~/Scripts/nice-admin.js"></script>
    <script src="~/Scripts/JQuery.js"></script>
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/vendor/chart.js/chart.min.js"></script>
    <script src="~/Scripts/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/Scripts/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/Scripts/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>


