@model HoaDonIndexModel
@{
    var tennhanvien = ViewBag.Tennhanvien;
    var chitiethoadon = ViewBag.ChiTiethoadon;
    var sanpham = ViewBag.Sanpham;
    var khachhang = ViewBag.KhachHang;
}
@functions {
    private string getDateFormat(DateTime? date)
    {
        if (date == null)
        {
            return "";
        }
        var notNullDate = date ?? DateTime.Now;
        return notNullDate.ToString("dd/MM/yyyy");
    }
}
<div>
    <div class="d-flex flex-row justify-content-between mb-3">
        <h2>Xem hóa đơn</h2>
        <div>
            <a href="@Url.Action("Index", "Hoadon")" class="btn btn-outline-primary mx-1">Thoát</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Thông tin hóa đơn</div>
                    <div class="row">
                        <div class="col-md-12">
                            <b class="col-3 bold">
                                Khách hàng
                            </b>
                            <p class="col-9">
                                @khachhang.ID_Khachhang  - @khachhang.TenKhachhang
                            </p>
                        </div>
                        <div class="col-md-12">
                            <b class="col-3 bold">
                                Ngày lập đơn
                            </b>
                            <p class="col-9">
                                @getDateFormat(Model.Ngaytaophieu)
                            </p>
                        </div>
                        <div class="col-md-12">
                            <b class="col-3 bold">
                                Nhân viên lập đơn
                            </b>
                            <p class="col-9">
                                @tennhanvien.ID_Nhanvien - @tennhanvien.Tennhanvien
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Begin Chi tiết phiếu nhập -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Chi tiết hóa đơn</div>
                    <table class="table table-responsive table-hover bg-white align-middle text-center">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Mã sản phẩm
                                </th>
                                <th scope="col">
                                    Sản phẩm
                                </th>
                                <th scope="col">
                                    Giá bán
                                </th>
                                <th scope="col">
                                    Số lượng mua
                                </th>
                            </tr>
                        </thead>
                        <tbody id="chiTietPhieuNhap">

                            @foreach (var item2 in sanpham)
                            {

                                <tr>
                                    <td scope="row">
                                        @item2.ID_sanpham
                                    </td>
                                    <td >
                                        @item2.Ten_Dienthoai
                                    </td>
                                    @foreach (var item in chitiethoadon)
                                    {
                                        if (item.ID_SanPham == item2.ID_sanpham)
                                        {
                                            <td>
                                                @String.Format("{0:N0}", item2.GiaBan) đ
                                            </td>
                                            <td>
                                                @item.Soluongmua
                                            </td>

                                        }
                                    }
                                </tr>
                            }
                            <tr>
                                <td scope="row"></td>
                                <td></td>
                                <td>Trị giá đơn hàng: </td>
                                <td>@String.Format("{0:N0}",Model.TongDon)  đ</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Begin Chi tiết phiếu nhập -->
    </div>
</div>